name: {{project_name}}_configuration
description: "{{project_name}} configuration for mobile app"

environment: 
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  
  flutter_riverpod:
  go_router:

  # Feature
  example:
    path: ../../feature/example
